<!-- SEM ANGULAR -->
<button style="width: 100px; background-color: aqua;">BOTÃO - 0</button>
<br><br>

<!-- COM ANGULAR -->
<button [style.width]="widthButton1" [style.backgroundColor]="'blue'" [style.color]="'white'">BOTÃO - 1</button>
<br><br>
<button [style.width.px]="widthButton2" [style.backgroundColor]="'red'" [style.color]="'white'">BOTÃO - 2</button>
<br><br>
<button [style]="'width: 140px; backgroundColor: green;'">BOTÃO - 3</button>
<br><br>
<button [style]="{width: '150px', backgroundColor: 'orange'}">BOTÃO - 4</button>
<br><br>
<button [style]="stylesObj">BOTÃO - 5</button>
<br>
<button (click)="updateStyleObj()">ATUALIZAR OBJ</button>
<button (click)="updateStyleWidth()">ATUALIZAR WIDTH</button>