<div class="card">
    <div class="card__plan card__item">
        <div>
            Plano:
        </div>
        <div>
            <b class="card__tipo">{{plano.tipo}}</b>
        </div>
    </div>
    <div class="card__price card__item">
        {{plano.moeda.BRL}}{{plano.preco}}{{plano.tipoCobranca.mensal}}
    </div>
    <app-card-button></app-card-button>
    <app-card-button-cancel></app-card-button-cancel>

    <!-- <mat-slider min="1" max="5" step="0.5">
        <input matSliderThumb value="1.5">
    </mat-slider> -->

    <div class="emulated">EMULATED</div>
</div>